<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

  </style>

</head>

<body style="background: linear-gradient(270deg, #1dfdc3, #b41dfd);
background-size: 400% 400%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@keyframes AnimationName {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}">

  {% include "insurance/navbar.html" %}
  <br><br>
  <div style="height:110%; background: linear-gradient(270deg, #1dfdc3, #b41dfd);
  background-size: 400% 400%;
  
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
  }; padding:250px;" class="jumbotron text-center" style="mpadding-bottom: 10px;">
    <h1 class="display-4" style:"color: white">Hello, Buddy</h1>
    <p class="lead">Welcome to Insurance Management System</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
      <a class="btn btn-danger btn-lg" href="http://127.0.0.1:8000/customer/customersignup" role="button">Create Your Account</a>
      <a class="btn btn-success btn-lg" href="http://127.0.0.1:8000/customer/customerlogin" role="button">Login</a>
    </p>
    <br><br><br>
  </div>
 
  
</body>

</html>
